/* this css file will only style the homepage of our site */

#my-portrait {
  margin: 10px;
  max-width: 350px;
}

h2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #5f556c;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #5f556c;
}